// *************************************
//
// Global.scss
// -> Slate v0.1.0
//
// *************************************

// -------------------------------------
// Libs
// -------------------------------------

// ----- Reset ----- //
@import "libs/normalize/normalize";

// ----- Bourbon ----- //
@import "libs/bourbon/bourbon";

// ----- Bourbon Neat ----- //
@import "libs/neat/neat";

// ----- Override ----- //
@import "libs/libs-override";

// -------------------------------------
// Core
// -------------------------------------

// ----- Settings ----- //
@import "core/settings";

// ----- Helpers ----- //
@import "core/helpers";

// ----- Base ----- //
@import "core/base";

// ----- Content ----- //
@import "core/utilities";

// -------------------------------------
// Modules
// -------------------------------------

@import "modules/article";

@import "modules/button";

@import "modules/carousel";

@import "modules/content";

@import "modules/form";

@import "modules/footer";

@import "modules/header";

@import "modules/icon";

@import "modules/line";

@import "modules/link";

@import "modules/logo";

@import "modules/map";

@import "modules/navigation";

@import "modules/select";

@import "modules/table";

// -------------------------------------
// Inbox
// -------------------------------------

.Pagination {
  text-align: center;
  padding: 1rem 0;

  a {
    @extend .Button;
    @extend .Button--brand;
  }
}



.textwidget {
	color: white !important;
	
}

.textwidget a {
	color: white;
	font-weight: bold;
	color: white;
	background-color: #006096;
	padding: 10px;
	
}
