// *************************************
//
// Button
// -> All buttons
//
// *************************************

.Button {
  display: block;
  font-weight: bold;
  padding: rem(10px) rem(5px);
  &:hover,
  &:focus {
    text-decoration: none;
  }
  @include media($bp-navCollapse) {
    display: inline-block;
  }
}

// -------------------------------------
// Module specific variables
// -------------------------------------

// -variable

// -------------------------------------
// Modifiers
// -------------------------------------

// ----- Default ----- //

.Button--default {
  color: $c-white;
  fill: $c-white;
  transition: background 0.25s ease ;
  &:hover {
    background: rgba($c-white, 0.25);
  }
}

// ----- Brand ----- //

.Button--brand {
  color: $c-white;
  fill: $c-white;
  background: $c-blue;
  transition: background 0.25s ease ;
  &:hover {
    background: darken($c-blue, 5%);
  }
}

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- Submodule ----- //

// .Module-subModule
