// *************************************
//
// EqualHeight
// -> A component for equal height cols
//
// *************************************

.EqualHeight {
  @include media($bp-navCollapse) {
    display: table;
  }
}

// -------------------------------------
// Module specific variables
// -------------------------------------

// Module-variableName

// -------------------------------------
// Modifiers
// -------------------------------------

// ----- Carousel ----- //

.EqualHeight--carousel {
  border-spacing: $l-insideGutter;

  .EqualHeight-column {
    @include media($bp-navCollapse) {
      width: 45%;
    }
  }

  .EqualHeight-column--withText {
    padding-left: ( $l-insideGutter * 2 );
    padding-right: ( $l-insideGutter * 2 );
    background: $c-blue;
  }
}

// ----- With Image ----- //

.EqualHeight-column--withImage {
  vertical-align: top;
}

.EqualHeight-column--withImage-image {
  display: block;
  width: 100%;
}

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- Column ----- //

.EqualHeight-column {
  @include media($bp-navCollapse) {
    display: table-cell;
    border-collapse: separate;
  }
}
