// *************************************
//
// Line
// -> Standard line module
//
// *************************************

.Line {
  border: 0;
  color: $c-white;
  background-color: $c-white;
  height: rem(2px);
}

// -------------------------------------
// Module specific variables
// -------------------------------------

// Module-variableName

// -------------------------------------
// Modifiers
// -------------------------------------

// .Module--modifierName

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- Submodule ----- //

// .Module-subModule
