// *************************************
//
// Link
// -> Customize the appearance of links
//
// *************************************

.Link {}

// -------------------------------------
// Module specific variables
// -------------------------------------

// Module-variableName

// -------------------------------------
// Modifiers
// -------------------------------------

.Link--legal {
  color: $c-white;
  border-bottom: 1px dashed $c-white;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- Submodule ----- //

// .Module-subModule
