// *************************************
//
// Logo
// -> Specific logo container
//
// *************************************

.Logo {
  display: inline-block;
}

// -------------------------------------
// Modifiers
// -------------------------------------

.Logo-heading--footer {
  margin: 0;
}

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

.Logo-textLink {
  vertical-align: top;
  padding-top: rem(16px);
}

.Logo-image {
  max-height: 135px;
  @include media($bp-logo) {
    max-height: none;
  }
}

.Logo-textLink,
.Logo-heading,
.Logo-imageLink {
  display: inline-block;
}

// ----- Heading ----- //

.Logo-headingTop,
.Logo-headingBottom {
  color: $c-white;
  display: block;
  line-height: 1;
}

.Logo-headingTop {
  font-size: rem(40px);
  font-family: 'Hobo', sans-serif;
  text-align: center;
  text-transform: uppercase;
  @include media($bp-logo) {
    font-size: rem(60px);
  }
}

.Logo-headingBottom {
  font-size: rem(20px);
  @include media($bp-logo) {
    font-size: rem(30px);
  }
}
