// *************************************
//
// Offer
// -> Special offers
//
// *************************************

.Offer {
  @extend .u-gridContainer;
  text-transform: uppercase;
}

// -------------------------------------
// Module specific variables
// -------------------------------------

// Module-variableName

// -------------------------------------
// Modifiers
// -------------------------------------

// .Module--modifierName

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- Image ----- //

.Offer-image {
  @include span-columns(6);
  min-height: 400px;
  background-image: url('../img/img-aanbieding.jpg');
  background-size: cover;
}

// ----- Text ----- //

.Offer-text {
  @include span-columns(6);
  padding-left: $l-insideGutter;
  padding-right: $l-insideGutter;
  min-height: 400px;
  background: $c-blue;
}

// ----- Title ----- //

.Offer-title {
  margin: 0;
  color: $c-white;
}

// ----- Subtitle ----- //

.Offer-subtitle {
  margin: 0;
  color: $c-white;
  font-weight: bold;
}

// ----- Content ----- //

.Offer-content {
  color: shade($c-blue, 50%);
  font-weight: bold;
}

// ----- Priceblock ----- //

.Offer-priceBlock {
  float: right;
  text-align: right;
}

// ----- Old price ----- //

.Offer-oldprice {
  color: shade($c-blue, 50%);
  font-weight: bold;
  margin-bottom: 0;
}

// ----- Current price ----- //

.Offer-currentprice {
  @extend %u-textH1;
  margin: 0;
  color: $c-white;
}

// ----- Offer link ----- //

.Offer-link {
  font-weight: bold;
}
