// *************************************
//
// Table
// -> A module for beating tables into
//    submission
// *************************************

.Table {
  text-transform: uppercase;
  font-size: 0.9em;
  @include media(max-width $bp-logo) {
    text-align: left;
  }

  @include media(max-width $bp-navCollapse) {
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}

// -------------------------------------
// Module specific variables
// -------------------------------------

// -variable

// -------------------------------------
// Modifiers
// -------------------------------------

.Table--invertedBold {
  color: $c-white;
  font-weight: bold;
}

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

.Table-heading {
  padding-bottom: $l-insideGutter;
}
